<% layout('droneLayout') %>


<div class="drone-model" id="bebop" data-model="bebop_1" data-make="parrot" data-cased-make="Parrot">
    <label for="bebop">Bebop</label>
</div>
<div class="drone-model" id="bebop-2" data-model="bebop_2" data-make="parrot" data-cased-make="Parrot">
    <label for="bebop-2">Bebop 2</label>
</div>
<div class="drone-model" id="ar" data-model="ar" data-make="parrot" data-cased-make="Parrot">
    <label for="ar">AR Drone 2.0</label>
</div>
<div class="drone-model" id="ar-gps" data-model="ar_gps" data-make="parrot" data-cased-make="Parrot">
    <label for="ar-gps">AR Drone 2.0 GPS Edition</label>
</div>
<div class="drone-model" id="mambo" data-model="mambo" data-make="parrot" data-cased-make="Parrot">
    <label for="mambo">Mambo</label>
</div>
