<% layout('droneLayout') %>


<div class="drone-model" id="x8sc" data-model="x8sc" data-make="syma" data-cased-make="Syma">
    <label for="x8sc">X8SC</label>
</div>
<div class="drone-model" id="x5c" data-model="x5c" data-make="syma" data-cased-make="Syma">
    <label for="x5c">X5C</label>
</div>
