<% layout('droneLayout') %>


<div class="drone-model" id="q500" data-model="q500" data-make="yuneec" data-cased-make="Yuneec">
    <label for="q500">Typhoon Q500 4K</label>
</div>
<div class="drone-model" id="typhoon-h" data-model="typhoon_h" data-make="yuneec" data-cased-make="Yuneec">
    <label for="typhoon-h">Typhoon H</label>
</div>
<div class="drone-model" id="breeze" data-model="breeze" data-make="yuneec" data-cased-make="Yuneec">
    <label for="breeze">Breeze</label>
</div>