<section id="company-banner">

    <div class="drone-carousel-container">
        
        <div class="drone-slider">
            <div class="drone-make" id="dji">
                <label class="slide-label" for="dji">DJI</label>
            </div>
            <div class="drone-make" id="parrot">
                <label class="slide-label" for="parrot">Parrot</label>
            </div>
            <div class="drone-make" id="gopro">
                <label class="slide-label" for="gopro">GoPro</label>
            </div>
            <div class="drone-make" id="lily">
                <label class="slide-label" for="lily">Lily Robotics</label>
            </div>
            <div class="drone-make" id="threedr">
                <label class="slide-label" for="threedr">3D Robotics</label>
            </div>

            <div class="drone-make">
                <label class="slide-label" for="">Test title</label>
            </div>
            <div class="drone-make">
                <label class="slide-label" for="">Test title</label>
            </div>
         
        </div>

    </div>

</section>