<div class="footer-container">

    <ul class="footer-links">

        <ul class="foot-menu":>
            <% if ( loggedIn ) { %>
                <li class="write-review"><a href="#">Write a Review</a></li>
            <% } %>
            <li class="reviews"><a href="#">Reviews</a></li>
            <li class="news"><a href="#">News</a></li>
            <li class="mission"><a href="#">Mission</a></li>
        </ul>

        <ul class="foot-drone-list">
            <ul class="drone-list-col">
                <li class=""><a href="">DJI</a></li>
                <li class=""><a href="">Parrot</a></li>
                <li class=""><a href="">GoPro</a></li>
                <li class=""><a href="">Lily Robotics</a></li>
            </ul>
            <ul class="drone-list-col">
                <li class=""><a href="">3D Robotics</a></li>
                <li class=""><a href="">Yuneec</a></li>
                <li class=""><a href="">Syma</a></li>
                <li class=""><a href="">Hubsan</a></li>
            </ul>
            <ul class="drone-list-col">
                <li class=""><a href="">Xiro</a></li>
            </ul>            
        </ul>

    </ul>

    <div class="my-info">
        <span class="copy">copyright <span class="copy-symbol">&copy;</span> 2017 &nbsp;&nbsp;Mike Schmerbeck</span>
        <span class="github-icon">
            <a href="https://github.com/Schmerb" target="__blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </span>
    </div>

</div>