<div class="my-info">
    <span class="copy">copyright <span class="copy-symbol">&copy;</span> 2017 &nbsp;&nbsp;Mike Schmerbeck</span>
    <span class="github-icon">
        <a href="https://github.com/Schmerb" target="__blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    </span>
</div>