<title>Droned</title>
<meta charset="UTF-8">
<meta name="description" content="A user sourced drone review webpage">
<meta name="author" content="Mike Schmerbeck">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Normalize.css, a cross-browser reset file -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik|Trirong|Roboto" rel="stylesheet">
<link href="styles/main.css" rel="stylesheet">