
<div class="banner-wrap">
    <div class="banner-top-wrap">
        <a href="/" class="logo">
            <h2 class="logo-title">Droned</h2>
                <h6 class="motto">The place for everything drones</h6> 
        </a>
        <nav class="banner-nav" role="navigation">
            <a href="#!" class="burger-anchor">
                <div class="burger-icon-wrap">
                    <div id="burger-icon"></div>
                </div>
            </a>
            <ul class="site-menu">
                <% if ( loggedIn ) { %>
                    <li class="write-review"><a href="#">Write a Review</a></li>
                <% } %>
                <li class="reviews"><a href="#">Reviews</a></li>
                <li class="news"><a href="#">News</a></li>
                <li class="mission"><a href="#">Mission</a></li>
            </ul>
            <ul class="user-nav">
                <% if ( loggedIn ) { %>
                    <li><a href="/users/me" class="me">Me</a></li>
                    <li><a href="#" class="logout">Log Out</a></li>
                <% } else { %>
                    <li><a href="#" class="login">LogIn</a></li>
                    <li><a href="#" class="signup">Sign Up</a></li>
                <% } %>
            </ul>
            <ul class="mobile-menu">
                <% if ( loggedIn ) { %>
                    <li class="write-review"><a href="#">Write a Review</a></li>
                <% } %>
                <li class="reviews"><a href="#" >Reviews</a></li>
                <li class="news"><a href="#">News</a></li>
                <li class="mission"><a href="#">Mission</a></li>
                <% if ( loggedIn ) { %>
                    <li><a href="/users/me" class="me">Me</a></li>
                    <li><a href="#" class="logout">Log Out</a></li>
                <% } else { %>
                    <li class="mobile-sign-in login"><a href="#">LogIn</a></li>
                    <li class="mobile-sign-in signup"><a href="#">Sign Up</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
</div>
<div class="landing-greeting">
    <p>Hear directly from drone owners and get up to date on the latest and greatest intel in the personal drone industry.</p>
</div>