<title>Drone Reviews 2017 - The place for everything drones | Droned.Reviews</title>
<meta charset="UTF-8">
<meta name="description" content="A user sourced drone review webpage for drone hobbysists to share and discuss their collective knowledge on the latest makes and models in the personal drone industry.">
<meta name="keywords" content="drone, drones, quadcopters, drone reviews, reviews, drone blog">
<meta name="author" content="Mike Schmerbeck">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Normalize.css, a cross-browser reset file -->
 <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css" rel="stylesheet"> 
<!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/> -->
<link rel="stylesheet" type="text/css" href="/plugins/slick-1.6.0/slick/slick-theme.css"/>
<link href="https://fonts.googleapis.com/css?family=Rubik|Trirong|Roboto|Raleway|Comfortaa" rel="stylesheet">
<link href="/styles/main.css" rel="stylesheet">
<link href="/styles/landing.css" rel="stylesheet">

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-105492488-1', 'auto');
    ga('send', 'pageview');
  
</script>