
<div class="banner-wrap">
    <div class="banner-top-wrap">
        <nav class="banner-nav" role="navigation">
                <a href="/" class="logo">
                    <!-- <img class="logo-drone" src="../assets/icons/drone-top.svg"> -->
                    <h2 class="logo-title">Dr <img class="logo-drone" src="../assets/icons/drone-top.svg"> <span class="title-end">ned</span></h2>
                    <h6 class="motto">The place for everything drones</h6> 
                </a>
            <a href="#!" class="burger-anchor">
                <div class="burger-icon-wrap">
                    <div id="burger-icon"></div>
                </div>
            </a>
            <ul class="site-menu">
                <% if ( loggedIn ) { %>
                    <li class="write-review"><a href="#">Write a Review</a></li>
                <% } %>
                <li class="reviews"><a href="#">Reviews</a></li>
                <li class="mission"><a href="/mission">Mission</a></li>
                <!-- <li class="welcome"><a href="/welcome">Capstone Info.</a></li> -->
            </ul>
            <ul class="user-nav">
                <% if ( loggedIn ) { %>
                    <li><a href="/users/me" class="me">Me</a></li>
                    <li><a href="#" class="logout">Log Out</a></li>
                <% } else { %>
                    <li><a href="#" class="login">LogIn</a></li>
                    <li><a href="#" class="signup">Sign Up</a></li>
                <% } %>
            </ul>
            <ul class="mobile-menu">
                <% if ( loggedIn ) { %>
                    <li class="write-review mobile-write"><a href="#">Write a Review</a></li>
                <% } %>
                <li class="reviews"><a href="#" >Reviews</a></li>
                <li class="mission"><a href="/mission">Mission</a></li>
                <li class="welcome"><a href="/welcome">Capstone Info.</a></li>
                <% if ( loggedIn ) { %>
                    <li class="me"><a href="/users/me">Me</a></li>
                    <li class="logout"><a href="#">Log Out</a></li>
                <% } else { %>
                    <li class="mobile-sign-in login"><a href="#">LogIn</a></li>
                    <li class="mobile-sign-in signup"><a href="#">Sign Up</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
</div>
<div class="landing-greeting">
    <p class="greeting ">Hear directly from drone owners and get up to date on the latest and greatest intel in the personal drone industry.</p>
    <div class="mission-container hidden">
        <p>My mission at Droned Reviews is to bring together drone pilots and hobbyists such as myself to share and discuss our collective knowledge on current drone makes and models. As
            a new, thriving market, there are quite a few choices you must decide between when looking to purchase a drone whether it be your first or 5th. 
        </p>
    </div>
</div>