<section id="review-post-preview" class="hidden">
    <div class="post-preview-modal">
        <div class="preview-banner">
            <button class="preview-close-btn" type="button"><span>Edit Post</span> <i id="preview-back" class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></button>
            <h1>PREVIEW</h1>
        </div>
        <div class="preview-content">
            
        </div>
    </div>
</section>