<!DOCTYPE>
<html lang='en'>
    <head>
            <% include ../partials/head %>
    </head>
    <body class="landing-body">
    
        <main role="main">
            <div class="container">
                <h2 class="logo-title">Dr <img class="logo-drone" src="../assets/icons/drone-top.svg"> <span class="title-end">ned</span> <span class="title-reviews">Reviews</span></h2>
                
                <p class="overview">Droned Reviews is a user-sourced Drone review website developed using MongoDB and Node JS</p>
    
                <p>To demo an account with the ability to write reviews and leave comments, log in using the following credentials:</p>
                <ul class="demo-creds-list">
                    <li>Username: <span class="creds">"demo"</span></li>
                    <li>Password: <span class="creds">"password"</span></li>
                </ul>
                <a class="home-btn" href="/">Check it Out</a>
                <div class="spin" id=""></div>
    
            </div>
            
        </main>

        
        <footer class="landing-footer" role="contentinfo">
            <h3><span class="landing-built-by">Built by</span><a href="https://www.mikeschmerbeck.com" target="__blank">Mike Schmerbeck</a></h3>
            <a id="animate" class="g-hub-icon" href="https://github.com/Schmerb" target="__blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </footer>
        

        <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
        <script type="text/javascript" src="/plugins/slick-1.6.0/slick/slick.min.js"></script>
        <script src="https://use.fontawesome.com/3e1d7b509c.js"></script>
        <script type="text/javascript" src="/js/drone-specs.js"></script>
        <script src="https://www.youtube.com/iframe_api"></script>
        <script type="text/javascript" src="/js/app.js"></script>
    </body>
</html>