<svg id="symbol-defs">
    <defs>
        <symbol id="portfolio-icon" viewBox="0 0 32 32">
            <title>portfolio icon</title>
            <path d="M27.095 31.011h-22.252c-2.666 0-4.843-2.177-4.843-4.843v-16.015c0-2.666 2.177-4.843 4.843-4.843h4.891v-1.849c0-2.183 0.226-2.409 2.409-2.409h7.651c2.183 0 2.409 0.226 2.409 2.409v1.849h4.891c2.666 0 4.843 2.177 4.843 4.843v16.015c0 2.666-2.177 4.843-4.843 4.843zM25.038 17.032h-2.328c-0.278-0.001-0.504-0.226-0.505-0.504v-1.29h-12.472v1.29c-0.001 0.278-0.226 0.503-0.505 0.504h-2.328c-0.278-0.001-0.504-0.226-0.505-0.504v-1.29h-3.962v10.93c0 1.323 1.087 2.41 2.41 2.41h22.252c1.323 0 2.41-1.087 2.41-2.41v-10.93h-3.962v1.29c-0.001 0.278-0.227 0.504-0.505 0.504h-0zM12.058 5.31h7.821v-1.849c0-0.001 0-0.003 0-0.004 0-0.045-0.036-0.081-0.081-0.081-0.002 0-0.003 0-0.005 0h-7.651c-0.001-0-0.003-0-0.004-0-0.044 0-0.081 0.036-0.081 0.081 0 0.002 0 0.003 0 0.005v-0 1.849z"></path>
        </symbol>
    </defs>
</svg>


