<% layout('droneLayout') %>


<div class="drone-model" id="spark" data-model="spark" data-make="dji" data-cased-make="DJI">
    <label for="spark">Spark</label>
</div>
<div class="drone-model" id="mavic" data-model="mavic_pro" data-make="dji" data-cased-make="DJI">
    <label for="mavic">Mavic Pro</label>
</div>
<div class="drone-model" id="p3s" data-model="phantom_3_standard" data-make="dji" data-cased-make="DJI">
    <label for="p3s">Phantom 3 Standard</label>
</div>
<div class="drone-model" id="p3-adv" data-model="phantom_3_advanced" data-make="dji" data-cased-make="DJI">
    <label for="p3-adv">Phantom 3 Advanced</label>
</div>
<div class="drone-model" id="p3-pro" data-model="phantom_3_pro" data-make="dji" data-cased-make="DJI">
    <label for="p3-pro">Phantom 3 Pro</label>  
</div>
<div class="drone-model" id="p3-4k" data-model="phantom_3_4K" data-make="dji" data-cased-make="DJI">
    <label for="p3-4k">Phantom 3 4K</label>
</div>
<div class="drone-model" id="p4" data-model="phantom_4" data-make="dji" data-cased-make="DJI">
    <label for="p4">Phantom 4</label>
</div>
<div class="drone-model" id="p4-pro" data-model="phantom_4_pro" data-make="dji" data-cased-make="DJI">
    <label for="p4-pro">Phantom 4 Pro</label>
</div>
<div class="drone-model" id="p4-pro-plus" data-model="phantom_4_pro_screen" data-make="dji" data-cased-make="DJI">
    <label for="p4-pro-plus">Phantom 4 Pro Plus</label>
</div>
<div class="drone-model" id="inspire-1-s" data-model="inspire_1_standard" data-make="dji" data-cased-make="DJI">
    <label for="inspire-1-s">Inspire 1 Standard</label>
</div>
<div class="drone-model" id="inspire-1-pro" data-model="inspire_1_pro" data-make="dji" data-cased-make="DJI">
    <label for="inspire-1-pro">Inspire 1 Pro</label>
</div>
<div class="drone-model" id="inspire-1-raw" data-model="inspire_1_raw" data-make="dji" data-cased-make="DJI">
    <label for="inspire-1-raw">Inspire 1 RAW</label>     
</div>
<div class="drone-model" id="inspire-2-x4s" data-model="inspire_2_X4S" data-make="dji" data-cased-make="DJI">
    <label for="inspire-2-x4s">Inspire 2 X4S</label>
</div>
<div class="drone-model" id="inspire-2-x5s" data-model="inspire_2_X5S" data-make="dji" data-cased-make="DJI">
    <label for="inspire-2-x5s">Inspire 2 X5S</label>
</div>
