<section id="aside-nav">
    <div class="aside-container">
        <nav>
             <ul class="drone-list">
                <li><a href="/drones/dji">DJI</a></li>
                <li><a href="/drones/parrot">Parrot</a></li>
                <li><a href="/drones/gopro">GoPro</a></li>
                <li><a href="/drones/yuneec">Yuneec</a></li>
                <li><a href="/drones/syma">Syma</a></li>
                <li><a href="/drones/hubsan">Hubsan</a></li>
                <li><a href="/drones/xiro">Xiro</a></li>
                <li><a href="/drones/udi">UDI</a></li>
             </ul>

             <ul class="nav-list">
                 <li><a href="/#main-header">home</a></li>
             </ul>
        </nav>
    </div>
</section>