<section id="company-banner">

    <div class="drone-carousel-container">
        
        <div class="drone-slider">

            <div class="drone-make" id="dji">
                <label class="slide-label" for="dji">DJI</label>
            </div>
            <div class="drone-make" id="parrot">
                <label class="slide-label" for="parrot">Parrot</label>
            </div>
            <div class="drone-make" id="gopro">
                <label class="slide-label" for="gopro">GoPro</label>
            </div>
            <div class="drone-make" id="yuneec">
                <label class="slide-label" for="yuneec">Yuneec</label>
            </div>
            <div class="drone-make" id="syma">
                <label class="slide-label" for="syma">Syma</label>
            </div>
            <div class="drone-make" id="hubsan">
                <label class="slide-label" for="hubsan">Hubsan</label>
            </div>
            <div class="drone-make" id="xiro">
                <label class="slide-label" for="xiro">Xiro</label>
            </div>
            <div class="drone-make" id="udi">
                <label class="slide-label" for="udi">UDI</label>
            </div>

        </div>

    </div>

</section>