<section id="reviews">
    <header role="header" class="review-header">
        <!-- <h2 class="reviews-title">User Reviews</h2> -->
    </header>

    <div id="reviews-container">
        <h2 class="reviews-title">User Reviews</h2>
            <!-- <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=schmerb0a-20&marketplace=amazon&region=US&placement=B01IFXGXN6&asins=B01IFXGXN6&linkId=c78f1e1ac79016b872975ca387adcce7&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
</iframe> -->
            <!-- SAMPLE REVIEW -->

        <div id="reviews-content">
            
            <hr>
            <div class="review">
                <div class="review">
                    <div class="post" data-post-id="597e45568e5d6f46077433c4">
                        <div class="img-container">
                            <img class="post-img" src="http://asset1.djicdn.com/images/360/phantom-4/draggable_360_v2/0_0.png">
                            <h3>Model: <span class="model">phantom_4</span></h3>
                            <h5>Manufacturer: <span class="maker"><b>dji</b></span></h5>
                        </div>
                        <h2 class="post-title">Phantom 4 is the best</h2>
                        <hr class="shadow-hr">
                        <div class="vote-aside">
                            <div class="arrow-wrap">
                                <i class="up-vote-arrow fa fa-arrow-up" aria-hidden="true"></i>
                                <span class="posNeg">-</span><span class="js-votes">-1</span>
                                <i class="down-vote-arrow fa fa-arrow-down" aria-hidden="true"></i>
                            </div>
                        </div>
                        <p class="content">        The Phantom 4 has the perfect mix of professional grade equipment and easy to use in-flight controls. The camera itself is worthy of its own review. The P4 comes with a 4K camera mounted on a gimbal for extremely stable shots. Shoots 1080p video @120f/s which makes for the smoothest slow-motion playback. The intelligent flight modes allow for custom movement using gps for precision accuracy and with return-to-home mode, you never have to worry about not making it back to the take-off area since a series of warnings and auto-flight controls are triggered if battery power drops below a certain threshold. This is the ultimate quad-copter currently on the market and for the price, you get what you pay for The intelligent flight modes allow for custom movement using gps for precision accuracy and with return-to-home mode, you never have to worry about not making it back to the take-off area since a series of warnings and auto-flight controls are triggered if battery power drops below a certain threshold. This is the ultimate quad-copter currently on the market and for the price, you get what you pay for!!</p>
                        <label class="author-label" for="">By: <span class="author">Schmerb</span></label>
                        
                        <div class="mobile-vote-aside">
                            <i class="up-vote-arrow fa fa-arrow-up" aria-hidden="true"></i>
                            <span class="posNeg">-</span><span class="votes js-votes">-1</span>
                            <i class="down-vote-arrow fa fa-arrow-down" aria-hidden="true"></i>
                        </div>
                        <div class="interactions">
                            <button class="specs-btn" type="button">
                                Specs
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                            <button class="comments-btn" type="button">
                                Comments
                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="details">
                        <h3>Model: <span class="model">phantom_4</span></h3>
                        <h5>Manufacturer: <span class="maker"><b>dji</b></span></h5>
                        <dl class="specs">
                            <dt>Specs</dt>
                            <dd>Ave. Price: <span>$1000</span></dd>
                            <dd>Camera: <span>4K@25-30/1080@120/10MP</span></dd>
                            <dd>Max Flight Time: <span class="max-flight">Approx. 28 minutes</span></dd>
                            <dd>Max Range: <span>5000m</span></dd>
                            <dd>Max Speed: <span>45mph</span></dd>
                            <dd>GPS?: <span>YES</span></dd>
                            <dd>3-axis gimbal: <span>YES</span></dd>
                            <dd>Intelligent Flight: <span>YES</span></dd>
                            <dd>Avoidance: <span>YES</span></dd>
                            <dd>Return Home: <span>YES</span></dd>
                            <dd>Follow-Me Mode: <span>YES</span></dd>
                            <dd>Tracking Mode: <span>YES</span></dd>
                        </dl>
                    </div>
                    <div class="comments-container expand">
                        <header class="comments-header">
                            <span class="js-comments-num">5</span> Comments
                            <i class="fa fa-comment-o" aria-hidden="true"></i>
                        </header>
                        <div class="comments-content" data-post-id="597e45568e5d6f46077433c4">

                            <!-- comment --> 
                            <div class="comment gen-comment" id="_597e79800ed4bb5a897d45fb" data-post-id="597e45568e5d6f46077433c4" data-this-id="597e79800ed4bb5a897d45fb">
                                <p class="comment-content">TEST COMMENT</p>
                                <div class="comment-metadata">
                                    <span class="date-posted">2017-07-31T00:26:05.826Z</span>
                                    <span class="comment-user">- @Schmerb</span>
                                    <div class="thumbs">
                                        <i class="like fa fa-thumbs-up" aria-hidden="true"></i>
                                        <i class="dislike fa fa-thumbs-down" aria-hidden="true"></i>
                                        <span class="posNeg">-</span><span class="like-dislikes">-2</span>
                                    </div>
                                    <label class="reply-c-btn-label" for="">
                                        <span>comments</span>
                                        <button class="expand-reply-comments-btn" type="button"></button>
                                    </label>
                                </div>

                                <!-- reply comment container --> 
                                <div class="reply-comments-container">
                                    <hr class="shadow-hr">
                                    <div class="reply-comments-content" data-comment-id="597e79800ed4bb5a897d45fb">

                                        <!-- reply comment --> 
                                        <div class="reply-comment" data-this-id="597e79800ed4bb5a89d34343">
                                            <p class="reply-comment-content gen-comment">Reply Comment</p>
                                            <div class="reply-comment-metadata">
                                                <span class="date-posted">2017-07-31T00:26:05.826Z</span>
                                                <span class="comment-user">- @Schmerb</span>
                                                <div class="thumbs">
                                                    <i class="like fa fa-thumbs-up" aria-hidden="true"></i>
                                                    <i class="dislike fa fa-thumbs-down" aria-hidden="true"></i>
                                                    <span class="posNeg">-</span><span class="like-dislikes">0</span>
                                                </div>
                                            </div>
                                        </div>

                                        
                                    </div>
                                    <form class="reply-comment-form comment-form expand" method="POST" action="/posts/comments">
                                        <textarea class="reply-comment-input comment-input" rows="" cols="" placeholder="Type your reply here . . ." required></textarea>
                                        <button class="reply-comment-btn" type="submit">Reply</button>
                                    </form>
                                </div>


                            </div> <!-- comment --> 

                            
                        </div>
                        <hr class="shadow-hr">
                        <form class="comment-form" method="post" action="/posts/comments">
                            <textarea class="comment-input" rows="" cols="" placeholder="Write comment here . . ." required=""></textarea>
                            <button class="comment-btn" type="submit">Comment</button>
                        </form>
                    
                    </div>
                </div>
            </div>
            <hr>

            <!-- sample review -->
        </div>

    </div>

</section>