/* 
    Landing Page Styles
    Only for Capstone Project
*/
.landing-body {
    position: relative;
    background-color: #073e58;
    background-color: #0a5476;
    background-image: url('../assets/drones/phone-DJI-samuel-schwendener-compressor.jpg');
    background-size: cover;
    background-position-x: 29%;
    background-position-y: 100%;
    background-repeat: no-repeat;

    min-height: 110vh;

    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.landing-body::before {
    content: '';
    background: linear-gradient(180deg, rgba(0,0,0,0.35), transparent);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.landing-body main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.container {
    color: white;
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    padding-bottom: 0;
    text-align: center;
    z-index: 100;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.container p {
    padding-left: 20px;
    padding-right: 20px;
}

.spin {
    background: linear-gradient(0deg, transparent, transparent, rgba(255,255,255,0.3));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
}

a.thinkful {
    color: white;
}

a.thinkful:hover {
    color: rgba(255,255,255,0.7);
}

.landing-title {
    color: white;
}

.overview {
    /* width: 300px; */
    margin: 0 auto;
}

.demo-creds-list {
    color: lightgrey;
    list-style: none;
    padding-left: 0;
}

.creds {
    color: white;
}

.home-btn {
    color: white;
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 2px;
    border: 2px solid rgba(255,255,255,0.1)
}

.home-btn:hover {
    background: rgba(128,128,128,0.4);
    background: rgba(255,255,255,0.4);
}

.landing-footer {
    position: absolute;
    background: linear-gradient(0, rgba(0,0,0,0.5), transparent);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.landing-footer h3 {
    position: absolute;
    margin: 0;
    bottom: 10px;
    left: 10px;
}

.landing-built-by {
    color: rgba(255,255,255,0.6);
}

.landing-body .logo-drone {
    width: 23px;
    top: 3px;
}

.landing-body .title-end {
    margin-left: -8px;
}

.landing-footer .g-hub-icon {
    color: white;
    position: absolute;
    font-size: 24px;
    bottom: 10px;
    right: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* 
.landing-footer .g-hub-icon:hover {
    color: rgba(255,255,255,0.6);
    transform: scale(1.2);
}  */


/*========================================/
/* Mobile Portrait
/*=======================================*/
@media only screen and (max-width: 415px) {
    .title-reviews {
        /* display: block; */
    }
}


/*========================================/
/* Landscape & Desktop / Tablets
/*=======================================*/
@media only screen and (min-width: 416px) {

    .home-btn {
        width: 200px;
        height: 60px;
        line-height: 60px;
    }

    .container p {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 440px) {
    .title-reviews {
        display: block;
    }
}

@media only screen and (max-width: 736px) {
    .container  {
        max-width: 730px;
    }
}


/*========================================/
/* Desktop / Tablets
/*=======================================*/
@media only screen and (min-width: 737px) {

    .landing-body {
        background-position-x: 0;
    }

    .container {
        width: 60%;
        min-width: 730px;
        margin-top: 100px;
    }

    .container p {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .home-btn {
        border-width: 1px;
    }
}


@media only screen and (min-width: 1000px) {
    .container p {
        max-width: 550px;
    }

    p.overview {
        max-width: 500px;
    }
}

/*========================================/
/* Custom Animations
/*=======================================*/

/* spin Animation for github icon on hover */

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

#animate:hover {
    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;

	animation-name: spin; 
	animation-duration: 3s; 
	animation-iteration-count: infinite; 
	animation-timing-function: linear;
}

#animate .fa-github {
    -webkit-transition: transform 0.7s ease, color 0.3s ease;
    -moz-transition: transform 0.7s ease, color 0.3s ease;
    transition: transform 0.7s ease, color 0.3s ease;
}

#animate .fa-github:hover {
    color: rgba(255,255,255,0.6);
    transform: scale(1.3);
}