* {
    box-sizing: border-box;
}

body {
    font-family: 'Trirong', serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    position: relative;
    background: lightgrey;
    background: #37474f;
    background: #263238;
    background: white;
    margin: 0;
    width: 100%;
    min-width: 300px;
    min-height: 200vh;
    overflow-x: hidden;
}

/*============================================================/
/* Header (Base / Mobile)
/*===========================================================*/
a {
    text-decoration: none;
    cursor: pointer;
}

.banner {
    background: url('../assets/phantom-3-aaron-burden-compressor.jpg') center;
    background-size: cover;
    background-position-x: 10%;
    /* color: #b0bec5; */
    color: #e2f1fc;
    position: relative;
    height: 100vh;
    min-height: 500px;
    /* border: 1px solid black; */
}

.banner::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.4), transparent);
}

.banner::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
}

 .banner a {
    color: #e2f1fc;
    color: white;
} 

.banner-wrap {
    position: relative; 
    z-index: 2;
    -webkit-transition: background 0.6s ease;
    -moz-transition: background 0.6s ease;
    transition: background 0.6s ease;
}

.banner-wrap.fixed-nav {
    background: rgba(47,61,69,0.9);
    background: rgba(0,0,0,0.9);
    position: fixed;
    width: 100vw; 
    padding-left: 30px;
    padding-right: 30px;
    left: 0;
    top: 0;
    box-shadow: 0 0 20px 8px rgba(0,0,0,0.5);
}

.banner-top-wrap {
    /* background: rgba(255,255,255,0.3); */
    width: 90%;
    min-width: 230px;
    margin: 0 auto;
    overflow: auto;
}

a.logo {
    color: whitesmoke;
    position: relative;
    font-size: 24px;
    cursor: pointer;
    float: left; 
    /* z-index: 5; */
}

.logo h2,
.logo h6 {
    margin: 0;
}

h6.motto {
    font-size: 12px;
    margin-left: 3px;
}

/*========================================/
/* burger menu icon
/*=======================================*/
.burger-anchor {
    /* z-index: 5; */
}

.burger-icon-wrap {
    display: inline-block;
    position: absolute;
    top: 50%; 
    right: 15px;
    width: 35px;
    height: 30px;
    transform: translate(0, -50%); 
    z-index: 5;
}

.burger-icon-wrap.open {
     /* position: fixed;  */
    top: 6px;
    /* right: 30px; */
    transform: translate(0, 50%);
}

#burger-icon {
    position: absolute;
    background: white;
    top: 50%;
    height: 5px;
    width: 30px;
    transform: translate(0, -50%);
}


#burger-icon::before,
#burger-icon::after {
    position: absolute;
    background: white;
    content: '';
    height: 5px;
    width: 30px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#burger-icon::before {
    bottom: 8px;
}

#burger-icon::after {
    bottom: -8px;
}

#burger-icon.open::before {
    transform: rotate(45deg);
    bottom: 0;
}

#burger-icon.open::after {
    transform: rotate(-45deg);
    top: 0;
}

.banner-wrap.fixed-nav #burger-icon,
.banner-wrap.fixed-nav #burger-icon::before,
.banner-wrap.fixed-nav #burger-icon::after {
    /* background: #8EBBD1;
    background: #DEF2F1; */
}

#burger-icon.open {
    background: transparent;
}

#burger-icon.open::before,
#burger-icon.open::after {
    background: #37474f;
}


/*========================================/
/* banner nav
/*=======================================*/

.banner-nav {
    /* position: relative;  */
    height: 70px;
    z-index: 1;
    /* overflow: hidden; */
}

.site-menu,
.user-nav {
     position: absolute;
     display: inline-block; 
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.site-menu {
    display: none;
}

.site-menu li,
.user-nav li {
    display: inline-block;
    list-style: none;
}

.user-nav {
    right: 40px;
    /* display: inline-block; */
}

.user-nav a {
    color: #116466;
    color: #f44336;
    color: #4fc3f7;
    color: #29b6f6;
}

.site-menu li:not(:last-of-type)::after {
    content: '|';
    margin-left: 5px;
}

.site-menu a {
    padding-bottom: 5px;
    border-bottom: 4px solid transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}

.site-menu a:hover {
    border-bottom-color: #116466;
    border-bottom-color: #f44336;
    border-bottom-color: #4fc3f7;
    border-bottom-color: #29b6f6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

 .mobile-menu {
    background: url('../assets/phantom-below-matthew-brodeur-compressor.jpg') center;
    background-size: cover;
    position: fixed;
    right: -100%;
    left: 200%;
    top: 0;
    width: 100%;
    height: 100vh;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}  

.mobile-menu li {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.mobile-menu li:hover {
    background: rgba(0,0,0,0.5);
}

.login,
.logout,
.me,
.signup {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; 
}

.login,
.me {
    padding: 5px;
    margin-right: 10px;
    border-bottom: 3px solid transparent; 
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.login:hover,
.me:hover {
    /* color: white;  */
    border-bottom-color: white;
}

a.signup,
a.logout {
    /* color: #455a64; */
    /* background: white; */
    padding: 5px 10px;
    border: 3px solid white;
}

.signup:hover,
.logout:hover {
    background: #116466;
    background: #f44336;
    background: #4fc3f7;
    background: #29b6f6;
    border-color: #116466;
    border-color: #f44336;
    border-color: #4fc3f7;
    border-color: #29b6f6;
    border-radius: 3px;
    color: white; 
}

.mobile-menu .signup:hover {
    border-color: black;
}

.mobile-menu .login:hover {
    border-bottom-color: black;
}

.mobile-menu .login {
    /* margin-top: 50px; */
    margin-right: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.landing-greeting {
    color: white;
    position: absolute;
    top: 35%; 
    left: 50%;
    width: 300px;
    font-size: 20px;
    margin: 0 auto;
    transform: translate(-50%, 0);
    z-index: 1;
}

.login-message-container {
    text-align: center;
}

.login-message {
    margin-bottom: 5px;
}

.comment-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comment-nav li {
    display: inline-block;
    text-decoration: underline;
    font-size: 12px;
}

.comment-nav li a {
    color: black;
}

.comment-nav li:hover {

}

.sub-login {
    margin-right: 10px;
}

.sub-signup {

}



/*========================================/
/* Login / Signup (Base / Mobile)
/*=======================================*/

#login,
#signup,
#login-signup {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: -150%; 
    left: 0;
    overflow: auto;
    z-index: 10;
    -webkit-transition: all 0.3s ease-in 0.2s;
    -moz-transition: all 0.3s ease-in 0.2s;
    transition: all 0.3s ease-in 0.2s;
}


 #login-signup.slide {
    background: rgba(0,0,0,0.8);   
    top: 0;
} 

.login-signup-container {
    position: relative;
    background: #4D7284; 
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

#login-signup-x.fa.fa-times {
    position: absolute;
    color: #263238;
    right: 5px;
    font-size: 32px;
    cursor: pointer;
}

.form-inner-container {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.login-signup-container input {
    background: #DEF2F1;
    color: black;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border: 2px solid #263238;
}

.login-signup-container input::placeholder {
    color: #263238;
}

.login-signup-container button {
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.login-signup-container button:hover{
    background: #DEF2F1;
    color: #263238;
} 

.screen-btn-wrap {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    font-size: 0;
}

.signup-screen-btn,
.login-screen-btn  {
    color: #DEF2F1;
    display: inline-block;
    font-size: 14px;
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 2px;
}

.signup-screen-btn {
    color: #263238;
    background: #8EBBD1;
}

.login-screen-btn {
    background: #263238;
}

.active-btn  {
    color: #263238;
    background: #8EBBD1;
}

.inactive-btn  {
    color: #8EBBD1;
    background: #263238;
}

p.welcome-message {
    color: #DEF2F1;
    margin: 0;
    margin-top: 20px;
    font-size: 30px
}

.form-labels {
    color: #DEF2F1;
    padding: 30px 0;
}

.name-fields {
    margin: 0 auto;
    overflow: auto;
}

.email-input,
.username-input,
.pass-input {
    display: block;
    width: 100%;
    margin: 10px auto;
}

.email-input.error,
.username-input.error,
.pass-input.error {
    border-width: 5px;
    border-color: red;
}

.signup-error,
.login-error {
    color: red;
    background: white;
    width: 90%;
    margin: 0 auto 5px;
    border-radius: 3px;
}

.signup-error p,
.login-error p {
    margin: 0;
    padding: 20px;
}

.email-input,
.username-input {
    margin-bottom: 20px;
}

.submit-btn {
    color: #263238;
    background: #8EBBD1;
    width: 100%;
    height: 60px;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}



/*========================================/
/* Write Review Form  (Base / Mobile)
/*=======================================*/
#review-form-screen,
#edit-review-form-screen,
#review-post-preview {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
     overflow: scroll; 
}

#review-post-preview {
    background: unset;
}

.review-form-modal,
.post-preview-modal {
    color: #DEF2F1;
    background-color: #4D7284;
    width: 100%;
    min-width: 350px;
    height: 100%;
    margin: 0 auto;
    overflow: scroll;
    border: 1px solid white;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.3);
}


.post-preview-modal {
    color: black;
    background-color: white;
    height: 500px;
}

.post-preview-modal h1 {
    margin: 0;
}

.preview-banner,
.review-form-banner {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid white;
}

.review-form-title {
    display: inline-block;
    margin: 0;
    padding-left: 20px;
    line-height: 40px;
}

.preview-close-btn,
.close-btn {
    color: #263238;
    background: transparent;
    position: relative;
    float: right;
    border: none;
    border-left: 1px solid white;
    font-size: 12px;
    width: 100px;
    height: 100%;
    cursor: pointer;
}

.preview-close-btn span {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.preview-close-btn:hover,
.close-btn:hover {
    background: #DEF2F1;
}

#preview-back.fa.fa-arrow-circle-o-left {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 24px;
    transform: translate(0, -50%);
}

#review-form-x.fa.fa-times {
    font-size: 20px;
}

.select-drone-container {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    /* border: 1px solid black; */
}

label[for="dropdown-options"] {
    display: block;
}

.dropdown-options {
    background: white;
    display: block;
    width: 95%;
    height: 30px;
    margin: 0 auto;
}

.select-drone-container span {
    display: block;
    width: 20px;
    margin: 10px auto;
}

label[for="drone-search"] {
    display: block;
}

#drone-search {
    display: block;
    width: 95%;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    border: none;
    border-radius: 2px;
}

.dropdown-options,
#drone-search {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-content-container {
    width: 100%;
    max-width: 500px;
    padding: 20px; 
    /* border: 1px solid black; */
}

.review-label p {
    margin: 0;
 }

.post-title-label {
    display: block;
    margin-bottom: 20px;
}

#title-input,
#edit-title-input {
    display: block;
    width: 100%;
    max-width: 412px;
    margin-top: 10px;
    border: none;
    border-radius: 2px;
}

.review-label {
    display: block;
}

.review-label span {
    display: inline-block;
    margin-bottom: 10px;
}

#post-content,
#edit-post-content {
    width: 100%;
    max-width: 412px;
    border: none;
    border-radius: 2px;
}

.star-rating-container {
    
}

.star-box {
    display: inline-block;
    background: url('../assets/icons/star.png');
    background-color: transparent;
    background-size:  100%;
    background-repeat: no-repeat;
    padding: 0;
    height: 20px;
    width: 20px;
}

.media-assets {
    margin-top: 20px;
    text-align: center; 
    /* border: 1px solid black; */
}

label[for="file-img"],
label[for="edit-file-img"],
label[for="file-video"],
label[for="edit-file-video"] {
    display: inline-block;
    /* cursor: pointer; */
    padding: 5px; 
    border: 1px solid rgba(255,255,255,0.5);
}

label[for="file-img"] ,
label[for="edit-file-img"] {
    margin-bottom: 20px; 
}

input[type="file"] {
    width: 200px;
    padding-top: 10px;
    cursor: pointer;
}


#file-img,
#edit-file-img,
#file-video,
#edit-file-video {
    text-align: left;
    display: block;
}

.bottom-btns {
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.bottom-btns button {
    color: white;
    background: #263238;
    font-size: 18px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.bottom-btns button:hover {
    color: #263238;
    background: #DEF2F1;
}

.preview-btn {
    position: relative;
}

button.delete-post-modal-btn {
    display: block;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    background: darkred;
}

#preview-eye.fa.fa-eye {
    position: absolute;
    font-size: 28px;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
}

.delete-confirm-modal {
    position: absolute;
    background: white;
    color: black;
    width: 300px;
    /* height: 200px; */
    top: -70px;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    z-index: 5;
    border-radius: 4px;
}

.review-form-modal.faded::after {
    position: absolute;
    content: '';
    background: rgba(0,0,0,0.5);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

.delete-confirm-modal button {
    margin-bottom: 10px;
}

button.delete-post-btn {
    background: darkred;
}


/*========================================/
/* Drone Banner (Base / Mobile)
/*=======================================*/
#company-banner {
    overflow: hidden;
    height: 200px;
}

/* .drone-makers {
    padding: 0;
    margin: 0;
    list-style: none; 
} */

.slick-slider {
    position: relative;
    width: 100%;
    height: 200px;
    /* margin: auto; */
}


.slick-list,
.slick-track {
    overflow: hidden;
    height: 200px;
}

.slick-slider .slick-prev.slick-arrow,
.slick-slider .slick-next.slick-arrow {
    width: 50px;
    height: 200px;
    z-index: 2;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slick-prev:hover {
    background: linear-gradient(-90deg, transparent, rgba(0,0,0,0.5));
}

.slick-next:hover {
    background: linear-gradient(90deg, transparent, rgba(0,0,0,0.5));
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.slick-slider .slick-prev::before,
.slick-slider .slick-next::before  {
    color: white;
    font-family: FontAwesome; 
    font-size: 36px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.slick-slider .slick-prev::before {
    content: '\f053';
    left: 0;
}

.slick-slider .slick-next::before {
    content: '\f054';
    right: 0;
}

.slick-prev:hover .slick-slider .slick-prev:before,
.slick-next:hover .slick-slider .slick-next:before  {
     color: black; 
}


.drone-make {
    display: inline-block;
    position: relative;
    /* background: blue; */
    /* float: left; */
    width: 100vw;
    height: 200px;
    min-height: 145px;
    cursor: pointer;
    overflow: hidden;
}

.drone-make:not(:first-of-type) {
    border-top: 1px solid #5A7684;
}



 #dji::after {
    background: url('../assets/DJI-inspire-compressor.jpg') center;
    background-size: 130%;
    background-repeat: no-repeat;
}

#parrot::after {
    background: url('../assets/parrot-square-compressor.jpg') center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#gopro::after {
    background: url('../assets/gopro-karma-compressor.jpg') center;
    background-size: contain;
    background-repeat: no-repeat;
}

#lily::after {
    background: url('../assets/lily-robotics-compressor.jpg') center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -10%;
}

#threedr::after {
    background: url('../assets/3dr.jpg') center;
    background-size: contain;
    background-repeat: no-repeat;
}

.drone-make::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out; 
}

.slide-label {
    color: #37474f;
    position: relative;
    font-weight: bold;
    margin-left: 20px;
    z-index: 1;
}

.drone-make:hover .slide-label {
    color: grey;
}

#drone-make:hover::after, 
#dji:hover::after,
#parrot:hover::after, 
#gopro:hover::after, 
#lily:hover::after,
#threedr:hover::after {
     transform: scale(1.1); 
}

/*========================================/
/* Drone Filter ASIDE (Base/ Mobile)
/*=======================================*/

/* .review-page-container {
    position: relative;
}

#aside-filter {
    position: relative;
    width: 20%;
    min-height: 50vh;
    float: right;
    margin-top: 20px;
}

.aside-slide-btn {
    content: '';
    position: absolute;
    background: unset;
    left: -30px;
    top: 50%;
    width: 30px;
    height: 50%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
}

.aside-slide-btn:hover {
    background: rgba(0,0,0,0.3);
}

.aside-chevron {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.aside-chevron.flip {
    transform: rotateY(180deg);
}

.aside-container {
    position: absolute;
    width: 100%;
    right: -100%;
    padding: 10px;
    border: 1px solid black;    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.aside-container.slide {
    right: 0;
}

.search-filter {
    width: 100%;
}

.drone-search-btn,
.aside-btns {
    background: lightblue;
    margin-top: 5px;
    padding: 5px 30px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.drone-search-btn:hover,
.aside-btns:hover {
    background: lightseagreen;
}

#radio-filter-form {
    margin-top: 30px;
}

.drone-radio {
    cursor: pointer;
}

#radio-filter-form label {
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
} */

/*========================================/
/* Reviews (Base/ Mobile)
/*=======================================*/
#reviews {
    overflow: hidden;
    padding-bottom: 400px;
}

#reviews-container {
    max-width: 1100px;
}

.review-header {
    position: relative;
    background: url('../assets/phantom-gimbal-william-stitt-compressor.jpg') center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    /* box-shadow: 0 0 20px 1px rgba(0,0,0,0.3); */
}

.reviews-title {
    color: black;
    position: relative;
    text-align: center;
    font-size: 20px;
    margin: 0;
    /* transform: translate(-50%, 50%); */
    text-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.post-title {
    margin: 0;
    padding: 10px;
    overflow: hidden;
    text-align: center;
}

.review {
    position: relative;
    max-width: 1000px;
    margin: 100px 0;
    /* overflow: auto; */
    /* border: 1px solid black; */
     /* box-shadow: 0 0 86px rgba(0,0,0,0.1);  */
}

.review:first-of-type {
    /* margin-right: 30px; */
}

.author-label{
    /* margin-left: 30px; */
    margin-top: 10px;
}

.c-date-edit-wrap {
}

.img-container h3,
.img-container h5,
.details h3,
.details h5 {
    margin: 0;
}

.img-container h3,
.img-container h5 {
    padding: 5px;
}

.post {
    position: relative; 
    /* height: 428px; */
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.1);
    border-bottom: none;
}

.post-preview-modal .review {
    margin-top: 0;
}

.post-preview-modal .post {
    overflow: unset;
}

.max-flight {
    margin-left: 10px;
}

.content {
    padding: 10px;
    margin: 0;
    min-height: 85px;
}

.content p {
    margin: 0;
    text-indent: 1em;
}

.content p:not(:first-of-type) {
    margin-top: 1em;
} 

.img-container {
    float: left;
    width: 100%;
    /* margin-right: 10px; */
    /* border: 1px solid rgba(0,0,0,0.1);  */
}

.post-img {
    background: rgba(13,70,149,0.1);
    width: 100%;
    height: auto;
    /* border: 4px solid #5A7684; */
}

.comment-hr {
    margin-bottom: 70px;
}

.vote-aside {
    display: none;
}

.mobile-vote-aside {
    text-align: center;
}

.mobile-vote-aside .fa.fa-arrow-up {
    /* margin-right: 15px; */
}

.up-vote-arrow {
    color: green;
    cursor: pointer;
}

.down-vote-arrow {
    color: red;
    cursor: pointer;
}

.post-attr {
    width: 80%;
    margin: 0 auto 20px;
}

#edit-post-icon {
    font-size: 18px;
    float: right;
    cursor: pointer;
}

#edit-post-icon:hover {
    color: grey;
}

.interactions {
    clear: both;
    /* position: absolute;  */
    /* bottom: 0;  */
    font-size: 0;
    width: 100%;
     height: 40px; 
    /* padding: 10px 0; */
    margin-top: 10px;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.1);
} 

.specs-btn,
.comments-btn {
    background: transparent;
    width: 50%;
    height: 100%;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.specs-btn {
    border-right: 1px solid rgba(0,0,0,0.1);
}

.specs-btn:hover,
.comments-btn:hover {
    background: #e2f1fc;
    background: #cfd8dc;
    background: #eceff1;
} 

.btn-active {
    background: #e2f1fc;
    background: #cfd8dc;
    background: #eceff1;
    border-bottom-color: transparent;
}

.comments-btn {
    width: 50%;
}

.specs-btn.btn-active {
    border-right: 1px solid rgba(0,0,0,0.1);
}

.comments-btn.btn-active {
    border-left: 1px solid rgba(0,0,0,0.1);
}


.details {
    background: #e2f1fc;
    background: #cfd8dc;
    background: #eceff1;
    display: block;
    width: 100%;
    /* height: 0; */
    max-height: 0;
    overflow: hidden;
    border: 1px solid transparent;
    border-top: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}


.specs {
    background: #e2f1fc;
    background: #cfd8dc;
    background: #eceff1;
    clear: both;
    width: 100%;
    margin: 0 auto; 
}

.details.expand {
    max-height: 700px;
    border-color: rgba(0,0,0,0.1);
}

.specs dd {
    margin-left: 0;
    padding: 5px 5px;
    border-bottom: 1px solid grey;
}

.specs dd:last-of-type {
    border-bottom: none;
}

.specs span {
    color: #f44336;
    font-weight: bold;
    float: right;
}

.date-posted {
    color: #888;
}

/* Comments  */

.comments-container {
    background: #e2f1fc;
    background: #cfd8dc;
    background: #eceff1;
    clear: both;
    width: 100%;
    max-height: 0; 
    margin: 0 auto;
     overflow: auto; 
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.comments-container.expand {
    max-height: unset; 
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    border-top: none;
}

.comments-container::-webkit-scrollbar{
    background-color: #e2f1fc;
    background-color: #cfd8dc;
    background-color: #eceff1;
}

.comments-container::-webkit-scrollbar-corner,
.comments-container::-webkit-scrollbar-track,
.comments-container::-webkit-scrollbar-corner {
    background-color: #e2f1fc;
    background-color: #cfd8dc;
    background-color: #eceff1;
}

.comments-container::-webkit-scrollbar-button,
.comments-container::-webkit-scrollbar-thumb {
    background: #eceff1;
    background: rgba(0,0,0,0.1);
}


.comments-header {
    text-align: center;
    margin-bottom: 20px;
}

/* main comment */
.comment-input {
    display: block;
    width: 100%;
    max-width: 100%; 
    height: 100px;
    margin-top: 20px;
}

.comment {
    background: rgba(17, 100, 102, 0.2);
    margin-bottom: 20px;
    padding: 10px;
    /* border: 1px solid blue; */
}

.comment-content {
    margin: 0;
}

.comment-metadata {
    padding: 5px;
    margin-top: 10px;
}

.thumbs {
    margin-left: 20px;
    display: inline-block;
}

.like,
.dislike {
    margin-right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.like:hover,
.dislike:hover  {
    color: rgba(0,0,0,0.3);     
}


.comment-btn,
.reply-btn {
    color: #90a4ae;
    color: #546e7a;
    background: #cfd8dc;
    font-weight: bold;
    display: block;
    width: 100px;
    height: 30px;
    margin: 10px auto 0;
    border: 1px solid #90a4ae;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.comment-btn:hover,
.reply-btn:hover {
    color: white;
    background: #90a4ae;
}

.comment-btn {
    width: 50%;
    height: 60px;
}

/* reply comment */

.reply-c-btn-label {
    float: right;
    font-size: 10px;
}

.close-reply-comments-txt {
    margin-right: 10px;
}

.expand-reply-comments-btn {
    position: relative;
    background-color: transparent;
    width: 30px;
    height: 20px;
    border: none;
    cursor: pointer;
}

.expand-reply-comments-btn::after,
.expand-reply-comments-btn::before  {
    position: absolute;
    content: '';
    width: 15px;
    height: 2px;
    background-color: black;
    -webkit-transition: all 0.2s ease-in-out, 
                        background-color 0.1s ease-in-out;
    -moz-transition: all 0.2s ease-in-out, 
                        background-color 0.1s ease-in-out;
    transition: all 0.2s ease-in-out, 
                        background-color 0.1s ease-in-out;
}
.expand-reply-comments-btn:hover::after,
.expand-reply-comments-btn:hover::before {
    background-color: grey;
}

.expand-reply-comments-btn::after {
    transform: rotate(-45deg);
    left: 12px;
}

.expand-reply-comments-btn::before {
    transform: rotate(45deg);
    right: 12px;
}


.expand-reply-comments-btn.open::after {
    left: 7.5px
}

.expand-reply-comments-btn.open::before {
    right: 7.5px;
}

.reply-comments-container {
    max-height: 0;
    padding-left: 20px;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.reply-comments-container.expand {
    max-height: 1400px;
    overflow: auto;
}

.reply-comment-form {
    max-height: 0;
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* border: 1px solid black; */
}

.reply-comment-form.expand {
    max-height: unset;
}

.reply-comment-input {
    width: 100%;
    margin: 0 auto;
}

.reply-comment-btn {
    background-color: #cfd8dc;
    width: 80px;
    height: 30px;
    margin-top: 10px;
    border: 1px solid #90a4ae;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.reply-comment-btn:hover {
    color: white;
    background-color: #90a4ae;;
}


.shadow-hr {
	height: 12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(90, 118, 132, 0.9);
}

.thin-hr {
     border: none;
     border-bottom: 1px solid rgba(0,0,0,0.5);
}

.post-hr {
    height: 1px;
    border: 0px;
    box-shadow: inset 1px -2px 20px -4px rgba(0,0,0,0.3);
}

/*========================================/
/* Footer (Base / Mobile)
/*=======================================*/

.main-footer {
    position: absolute;
    background: #cfd8dc;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px 10px 10px;
}

.footer-links {
    width: 40%;
    margin: 0 auto;
}

.footer-links ul {
    display: inline-block;
    vertical-align: top;
}

.footer-links li {
    list-style: none;
}

.footer-links li a {
    color: black;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.footer-links li:hover a {
    color: gray;
}


.my-info {
    text-align: center;
    color: black;
    font-size: 12px;
    margin: 20px 0 10px;
}

.fa.fa-github {
    font-size: 22px;
    color: #333;
    margin-left: 15px;
}

@media only screen and (max-width: 350px) {
    .burger-icon-wrap.open {
        position: absolute;
        right: 15px;
    }
} 


/*============================================================/
/* MOBILE PORTRAIT ONLY
/*===========================================================*/
@media only screen and (max-width: 414px) {
    .user-nav  {
        display: none;
    }
}





/*============================================================/
/* Landscape & Desktop
/*===========================================================*/
@media screen and (min-width: 416px) {
    .banner {
        background: url('../assets/phantom-3-aaron-burden-compressor.jpg') center;
        background-attachment: fixed;
        background-size: cover;
        background-position-x: unset;
        height: 80vh;
    }

    .banner-nav {
        /* overflow: hidden;  */
    }


    .burger-icon-wrap {

    } 

    .landing-greeting {
        font-size: 20px;
    }

    /*========================================/
    /* Login / Signup (Landscape & Desktop)
    /*=======================================*/
    #login-signup {
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        transition-delay: 0s;
    }

    .login-signup-container {
        position: absolute;
        top: -100%;   
        left: 50%;
        transform: translate(-50%, 0); 
        width: 400px;
        height: unset;
        min-height: 400px; 
        padding-bottom: 10px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .login-signup-container.slide {
        top: 5%;
    }

    .signup-screen-btn,
    .login-screen-btn  {
        display: inline-block;
        width: 40%;
        height: 50px;
    }

    .login-screen-btn {
    }

    /*========================================/
    /* Drone Banner (Landscape & Desktop)
    /*=======================================*/

    .drone-make {
        /* width: 200px; */
        width: 20vw;
        height: 20vh;
    }

    .slick-list,
    .slick-track {
        overflow: hidden;
        height: 20vh;
    }
     
    .drone-make:not(:last-of-type) {
        border-right: 1px solid #5A7684;
    }

    #company-banner .drone-make {
        border-top: none;
    } 

    #parrot::after {
        background-size: contain;
    }

    #lily::after {
        background-size: contain;
        background-position-y: 50%;
    }

    /*========================================/
    /* Write Review Form (Landscape & Desktop)
    /*=======================================*/

    .review-form-modal,
    .post-preview-modal {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 600px;
        height: auto;
         /* max-height: 770px;   */
        /* overflow: auto; */
    }

    .post-preview-modal {
        top: 20px;
        min-width: 600px;
        height: 95%;
        max-height: 770px; 
        overflow: scroll;
    }

    #review-form {
        /* width: 500px; */
        /* margin: 0 auto; */
    }

    .select-drone-container {
        /* width: 500px; */
    }

    label[for="dropdown-options"],
    label[for="drone-search"]  {
        display: block;
        max-width: 380px;
        margin: 0 auto;
    }

    .dropdown-options {
        display: block;
    }

    #drone-search {
        display: block;
    }

    .post-content-container {
        width: 440px;
        padding: 10px;
        /* padding-top: 30px; */
        margin: 0 auto;
    }

    .review-label p {
        vertical-align: top;
    }

    .media-assets {
    }

    .bottom-btns {
        text-align: center;
    }

    .bottom-btns button {
        width: 200px;
        height: 60px;
        border: none;
        border-radius: 3px;
    }

    button.delete-post-modal-btn {
        width: 100px;
        height: 30px;
    }


    #preview-eye.fa.fa-eye {
        right: 30px;
    }

    /*========================================/
    /* Reviews (Landscape & Desktop)
    /*=======================================*/
    .img-container {
        float: left;
        width: 30%;
        border: 1px solid rgba(0,0,0,0.1); 
    }

    .reply-comment-input {
        width: 80%;
        max-width: 80%;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 469px) {
    .user-nav {
        display: none;
    }
}

@media only screen and (min-width: 470px) {
    .burger-icon-wrap {
        right: 55%; 
        left: 45%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .burger-icon-wrap.open {
        left: 90%; 
        right: 10%;
    }

    /* .mobile-menu .mobile-sign-in {
        display: none;
    }*/
} 

@media only screen and (min-width: 515px) {
     .landing-greeting {
        font-size: 28px;
        width: 450px;
    } 
    
    #title-input,
    #edit-title-input {
        display: inline-block;
        width: 412px;
        margin-left: 20px;
    }

    .reviews-title {
        font-size: 36px;
    }

    .review-label p {
        display: inline-block;
    }

    .post-content-container {
        width: unset;
    }

    /* .post {
         min-height: 428px; 
    } */

    .review-form-modal,
    .post-preview-modal {
         max-height: 770px;  
    }

    #post-content,
    #edit-post-content {
        width: 412px;
    }

    .reply-btn {
        float: right;
        margin: 0;
    }
}

@media only screen and (min-width: 585px) {
    .review-form-modal {
        height: auto;
    }
    
    label[for="dropdown-options"],
    label[for="drone-search"] {
        display: inline-block;
        max-width: unset;

    }
    .select-drone-container {
        width: 95%;
    }

    .select-drone-container span {
         display: inline-block;
         vertical-align: top;
         margin: 0 20px; 
     }
}

@media only screen and (min-width: 615px) {
    .landing-greeting {
        font-size: 36px;
        width: 600px;
    }
}

@media only screen and (max-width: 625px) {
    .review-form-modal {
        width: 100%;
        margin: 0 auto;
        overflow: scroll;
    }
    
    #review-form {
        width: 100%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 650px) {
    .burger-icon-wrap {
        /* left: unset; */
        /* margin-left: 60px; */
    }
}

@media only screen and (max-width: 736px) {
    .no-scroll {
        overflow: hidden; 
        position: fixed;
        width: 100%; 
    }
}


/*============================================================/
/* DESKTOP & TABLETS ONLY
/*===========================================================*/

@media only screen and (min-width: 737px) {

    /*========================================/
    /* Write Review Form (DESKTOP / TABLET)
    /*=======================================*/

    /* .review-form-modal {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 600px;
         height: auto; 
    } */
    label[for="file-img"] {
        margin-left: 45px; 
        margin-bottom: 0;
    }

    /*========================================/
    /* Drone Banner (Base / Mobile)
    /*=======================================*/
    #company-banner {
        height: 20vh;
    }

    .slick-slider {
        height: 20vh;
    }

    .slick-slider .slick-prev.slick-arrow,
    .slick-slider .slick-next.slick-arrow {
        height: 20vh;
    }


    /*========================================/
    /* Drone Filter ASIDE (DESKTOP / TABLET)
    /*=======================================*/

    .review-page-container {
        position: relative;
    }

    #aside-filter {
        position: relative;
        width: 20%;
        max-width: 180px;
        min-height: 500px;
        float: left;
        margin-top: 20px;
    }

    .aside-slide-btn {
        display: none;
        content: '';
        position: absolute;
        background: linear-gradient(90deg, #cfd8dc, #cfd8dc);;
        right: -30px;
        top: 20%;
        /* bottom: -1px; */
        width: 30px;
        height: 150px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: 1px solid #546e7a;
        border-right: none;
        cursor: pointer;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .aside-slide-btn:hover {
        background: linear-gradient(90deg, #90a4ae, #cfd8dc);
    }

    .aside-chevron.fa.fa-angle-left {
        color: rgba(0,0,0,0.5);
        color: #546e7a;
        font-size: 50px;
        font-weight: lighter;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .aside-chevron.flip {
        transform: rotateY(180deg);
    }

    .aside-container {
        position: absolute;
        /* background: #cfd8dc; */
        width: 100%;
        height: 100%;
        /* left: -100%; */
        padding: 10px;
        /* border: 1px solid #546e7a;   */
        /* border-right: none; */
        /* border-top-left-radius: 6px; */
        /* border-bottom-left-radius: 6px;   */
        border-right: 1px solid rgba(0,0,0,0.1);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .aside-container.slide {
        right: 0;
    }

    label[for="search-filter-form"] {
        display: block;
        font-size: 13px;
    }

    label[for="radio-filter-form"] {
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .search-filter {
        width: 100%;
    }

    
    #radio-filter-form {
        /* margin-top: 30px; */
    }
    
    .drone-radio {
        cursor: pointer;
    }
    
    #radio-filter-form label {
        display: block;
        margin-bottom: 15px;
        cursor: pointer;
    }
    
    .drone-search-btn,
    .aside-btns {
        display: block;
        background: transparent;
        margin-top: 10px;
        padding: 5px 30px;
        border-radius: 4px;
        border: 2px solid lightgrey;
        cursor: pointer;
        /* box-shadow: 0 2px 1px rgba(0,0,0,0.4); */
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }

    .drone-search-btn:hover,
    .aside-btns:hover {
        color: #62757f;
        border-color: #62757f;
    }

    .filter-alert {
        color: red;
    }

    /*========================================/
    /* Reviews (DESKTOP / TABLET)
    /*=======================================*/
  
    #reviews-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .review {
        padding-bottom: 0;
    }

    .details {
        padding: 0 10%;
    }

    .post-preview-modal .details {
        margin-right: 10px;
    }

    .content {
        margin-right: 30px;
    }

    .date-posted {
        margin-left: 15px;
    }

    .vote-aside {
        position: absolute;
        display: unset;
        top: 55%;
        right: 0;
        height: 100px;
        width: 30px;
        transform: translate(0, -50%);
        border: 1px solid black;
    }

    .post-preview-modal .vote-aside {
        top: 65%;
    }

    .arrow-wrap {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        transform: translate(0, -50%);
    }

    .up-vote-arrow.fa.fa-arrow-up ,
    .down-vote-arrow.fa.fa-arrow-down ,
    .votes {
        display: block;
    }

    .up-vote-arrow {
        margin-bottom: 10px;
    }

    .down-vote-arrow {
        margin-top: 10px;
    }

    .mobile-vote-aside {
        display: none;
    }

   
    .interactions {
        /* border-top: 1px solid #263238; */
        /* border-left: 1px solid #263238; */
    }

    .votes {
        margin-right: 100px;
    }

    .comments-container {
        overflow: scroll;
    }

    .comments-container.expand {
        height: auto;
        max-height: 1200px; 
    }

    .no-scroll {
        overflow: hidden; 
        width: 100%; 
    }
} 

@media only screen and (max-width: 790px) {
    

    .mobile-menu.open {
        right: 0;
        left: 0;
        min-width: 300px; 
         /* overflow: scroll;  */
    }

    .mobile-menu li {
        background: rgba(255,255,255,0.3);
        display: block;
        padding: 10px;
        border-bottom: 1px solid black;
        box-shadow: 0 0 30px 6px rgba(255,255,255,0.2);
    }

    .mobile-menu li:first-of-type {
        margin-top: 50px;
    }

    .mobile-menu li a {
        color: black;
    }

    .mobile-menu li:hover a {
        color: #00FFDC;
        color: white;
        color: #DEF2F1
    }

    .mobile-menu a.me:hover {
        border-bottom-color: transparent;
    }

    .mobile-menu a.logout {
        border: none;
    }

    .mobile-menu a.logout:hover {
        background: unset;
        border: none;
    }
    
     /* .mobile-menu.open::after {
        content: '';
        background: rgba(0,0,0,0.7);
        background: url('../assets/phantom-below-matthew-brodeur-compressor.jpg') center;
        background-size: cover;
        position: fixed;  
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: -1;
    }   */
   
}

@media only screen and (min-width: 791px) {
    .burger-icon-wrap {
            display: none;
    }

    .site-menu {
        display: inline-block;
    } 

      ul.mobile-menu.open {
        display: none;
    }
}

@media only screen and (min-width: 976px) {
    #parrot::after {
        background-size: cover; 
    }
}

@media only screen and (min-width: 1280px) {
    #lily::after {
        background-size: cover; 
    }
}

.hidden {
    display: none;
}

